In [31]:
import util as u

In [44]:
def fix(numObj, digits=1):
    return f"{numObj:.{digits}f}"

df = u.read_file("adam")
df = df[["count",
         "alpha",
         "run",
         "name",
         "res_point",
         "result_err",
         "delta_time",
         "math_iters"]]

na_df = df[df["result_err"].isna()]
val_total_math_iter = int(na_df[na_df["count"] == 10]["math_iters"].mean() / 1000)
df.insert(
    loc= len(df.columns),
    column='math_per_oper',
    value=[val_total_math_iter for i in range(df.shape[0])])
print(df.head(9).to_latex(
    formatters={"res_point" : lambda x: [float(fix(i, 1)) for i in x]}))
df.head(9)

\begin{tabular}{lrrrllrrrr}
\toprule
 & count & alpha & run & name & res_point & result_err & delta_time & math_iters & math_per_oper \\
\midrule
0 & 10 & 0.010000 & 1001 & adam & [1.4, 1.1] & NaN & 0.118994 & 21000 & 21 \\
1 & 10 & 0.025000 & 537 & adam & [2.0, 1.0] & 0.000081 & 0.055000 & 11256 & 21 \\
2 & 10 & 0.050000 & 397 & adam & [2.0, 1.0] & 0.000056 & 0.040000 & 8316 & 21 \\
3 & 10 & 0.050000 & 355 & adam & [2.0, 1.0] & 0.000045 & 0.036000 & 7434 & 21 \\
4 & 10 & 0.075000 & 311 & adam & [2.0, 1.0] & 0.000095 & 0.031000 & 6510 & 21 \\
5 & 10 & 0.100000 & 331 & adam & [2.0, 1.0] & 0.000085 & 0.034000 & 6930 & 21 \\
6 & 10 & 0.200000 & 253 & adam & [2.0, 1.0] & 0.000031 & 0.025011 & 5292 & 21 \\
7 & 10 & 0.500000 & 993 & adam & [2.0, 1.0] & 0.000009 & 0.102978 & 20832 & 21 \\
8 & 10 & 1.000000 & 1001 & adam & [2.0, 1.0] & NaN & 0.109985 & 21000 & 21 \\
\bottomrule
\end{tabular}

,count,alpha,run,name,res_point,result_err,delta_time,math_iters,math_per_oper
0,10,0.010,1001,adam,"[1.4255451064719853, 1.0967458961379524]",NaN,0.118994,21000,21
1,10,0.025,537,adam,"[1.9923138458899248, 1.001465753601697]",0.000081,0.055000,11256,21
2,10,0.050,397,adam,"[2.0039322476220125, 0.9996918295028021]",0.000056,0.040000,8316,21
3,10,0.050,355,adam,"[1.995137353109833, 1.0005710329068955]",0.000045,0.036000,7434,21
4,10,0.075,311,adam,"[2.0053537068988847, 0.9995497894825212]",0.000095,0.031000,6510,21
5,10,0.100,331,adam,"[2.001367748948133, 0.999267522346523]",0.000085,0.034000,6930,21
6,10,0.200,253,adam,"[1.9966182248605238, 1.0003244393629662]",0.000031,0.025011,5292,21
7,10,0.500,993,adam,"[2.0026225348822413, 0.9995194661408363]",0.000009,0.102978,20832,21
8,10,1.000,1001,adam,"[2.0282992236227986, 0.9623260948994408]",NaN,0.109985,21000,21

—Ä–µ—à–µ–Ω–æ –±—ã–ª–æ –≤–∑—è—Ç—å —Ç–∞–∫–∏–µ ùõº —Ç–∞–∫ –≤ —Å–∏–ª—É —Ç–æ–≥–æ —á—Ç–æ adam –Ω–µ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤ —Å–µ–±–µ ùõº –æ–ø—ã—Ç–Ω—ã–º –ø—É—Ç—ë–º –≤–∏–¥–Ω–æ, —á—Ç–æ –≤ –≥—Ä–∞–Ω–∏—Ü–∞—Ö, —É–∂–µ –º–µ—Ç–æ–¥ –Ω–µ —Å—Ö–æ–¥–∏—Ç—Å—è

In [38]:
#get_alpha(df)
df["alpha"].unique()

array([0.01 , 0.025, 0.05 , 0.075, 0.1  , 0.2  , 0.5  , 1.   , 5.   ])

In [39]:
print(df.groupby('alpha')['result_err'].apply(lambda x: x.isna().sum()).to_latex())

\begin{tabular}{lr}
\toprule
 & result_err \\
alpha &  \\
\midrule
0.010000 & 28 \\
0.025000 & 13 \\
0.050000 & 0 \\
0.075000 & 0 \\
0.100000 & 0 \\
0.200000 & 4 \\
0.500000 & 19 \\
1.000000 & 24 \\
5.000000 & 28 \\
\bottomrule
\end{tabular}

In [40]:
df_na = df.dropna()

In [42]:
print(
    df_na.groupby(['count', 'alpha'])['run']
    .apply(lambda x: x.mean()).to_latex(float_format="{:.1f}".format))

\begin{tabular}{llr}
\toprule
 &  & run \\
count & alpha &  \\
\midrule
\multirow[t]{6}{*}{10} & 0.025000 & 576.0 \\
 & 0.050000 & 563.1 \\
 & 0.075000 & 442.8 \\
 & 0.100000 & 386.0 \\
 & 0.200000 & 309.0 \\
 & 0.500000 & 608.7 \\
\cline{1-3}
\multirow[t]{6}{*}{40} & 0.025000 & 692.3 \\
 & 0.050000 & 486.1 \\
 & 0.075000 & 397.8 \\
 & 0.100000 & 439.5 \\
 & 0.200000 & 352.7 \\
 & 1.000000 & 896.5 \\
\cline{1-3}
\multirow[t]{6}{*}{70} & 0.025000 & 576.0 \\
 & 0.050000 & 517.2 \\
 & 0.075000 & 481.0 \\
 & 0.100000 & 410.0 \\
 & 0.200000 & 520.2 \\
 & 0.500000 & 806.0 \\
\cline{1-3}
\multirow[t]{6}{*}{100} & 0.025000 & 593.5 \\
 & 0.050000 & 527.1 \\
 & 0.075000 & 438.2 \\
 & 0.100000 & 452.5 \\
 & 0.200000 & 352.7 \\
 & 0.500000 & 428.5 \\
\cline{1-3}
\multirow[t]{7}{*}{130} & 0.025000 & 583.0 \\
 & 0.050000 & 518.4 \\
 & 0.075000 & 477.0 \\
 & 0.100000 & 359.0 \\
 & 0.200000 & 414.7 \\
 & 0.500000 & 729.5 \\
 & 1.000000 & 443.0 \\
\cline{1-3}
\multirow[t]{6}{*}{160} & 0.025000 & 595.5 \\
 & 0.050000 & 531.2 \\
 & 0.075000 & 432.0 \\
 & 0.100000 & 435.8 \\
 & 0.200000 & 505.8 \\
 & 0.500000 & 808.0 \\
\cline{1-3}
\multirow[t]{6}{*}{190} & 0.025000 & 604.0 \\
 & 0.050000 & 511.6 \\
 & 0.075000 & 474.5 \\
 & 0.100000 & 428.5 \\
 & 0.200000 & 600.0 \\
 & 1.000000 & 346.0 \\
\cline{1-3}
\bottomrule
\end{tabular}

In [9]:
df_na.groupby(['count', 'alpha'])['run'].apply(lambda x: x.mean()).mean()

512.8110465116279

In [7]:
df_na.groupby(['count', 'alpha'])['delta_time'].apply(lambda x: x.mean())

count  alpha
10     0.025    0.058633
       0.050    0.057682
       0.075    0.044509
       0.100    0.038746
       0.200    0.030748
       0.500    0.062863
40     0.025    0.156670
       0.050    0.102809
       0.075    0.082084
       0.100    0.096250
       0.200    0.076295
       1.000    0.184628
70     0.025    0.195999
       0.050    0.177320
       0.075    0.167129
       0.100    0.140992
       0.200    0.178504
       0.500    0.275019
100    0.025    0.314545
       0.050    0.277074
       0.075    0.247176
       0.100    0.245742
       0.200    0.187339
       0.500    0.223007
130    0.025    0.407506
       0.050    0.364331
       0.075    0.333138
       0.100    0.245916
       0.200    0.287007
       0.500    0.514294
       1.000    0.305003
160    0.025    0.522746
       0.050    0.467502
       0.075    0.376996
       0.100    0.384964
       0.200    0.445702
       0.500    0.707383
190    0.025    0.675238
       0.050    0.580720
       0.075    0.525227
       0.100    0.475899
       0.200    0.669673
       1.000    0.377000
Name: delta_time, dtype: float64

In [8]:
df_na.groupby(['count', 'alpha'])['math_iters'].apply(lambda x: x.mean())

count  alpha
10     0.025    12075.000
       0.050    11804.625
       0.075     9276.750
       0.100     8085.000
       0.200     6468.000
       0.500    12761.000
40     0.025    14518.000
       0.050    10187.625
       0.075     8331.750
       0.100     9208.500
       0.200     7385.000
       1.000    18805.500
70     0.025    12075.000
       0.050    10841.250
       0.075    10080.000
       0.100     8589.000
       0.200    10904.250
       0.500    16905.000
100    0.025    12442.500
       0.050    11048.625
       0.075     9182.250
       0.100     9481.500
       0.200     7385.000
       0.500     8977.500
130    0.025    12222.000
       0.050    10864.875
       0.075     9996.000
       0.100     7518.000
       0.200     8687.000
       0.500    15298.500
       1.000     9282.000
160    0.025    12484.500
       0.050    11135.250
       0.075     9051.000
       0.100     9129.750
       0.200    10599.750
       0.500    16947.000
190    0.025    12663.000
       0.050    10723.125
       0.075     9943.500
       0.100     8977.500
       0.200    12579.000
       1.000     7245.000
Name: math_iters, dtype: float64