In [16]:
import util as u

In [17]:
def fix(numObj, digits=1):
    return f"{numObj:.{digits}f}"


df =u.read_file("nesterov")
df = df[["count",
         "alpha",
         "run",
         "name",
         "res_point",
         "result_err",
         "delta_time",
         "math_iters"]]

na_df = df[df["result_err"].isna()]
val_total_math_iter = int(na_df[na_df["count"] == 10]["math_iters"].mean() / 1000)
df.insert(
    loc= len(df.columns),
    column='math_per_oper',
    value=[val_total_math_iter for i in range(df.shape[0])])
print(df.head(7).to_latex(
    formatters={"res_point" : lambda x: [float(fix(i, 1)) for i in x]}))

\begin{tabular}{lrrrllrrrr}
\toprule
 & count & alpha & run & name & res_point & result_err & delta_time & math_iters & math_per_oper \\
\midrule
0 & 10 & 0.000100 & 1001 & nesterov & [5.3, 0.5] & NaN & 0.157079 & 10000 & 10 \\
1 & 10 & 0.000250 & 1001 & nesterov & [3.2, 0.8] & NaN & 0.148067 & 10000 & 10 \\
2 & 10 & 0.000300 & 1001 & nesterov & [2.9, 0.9] & NaN & 0.133708 & 10000 & 10 \\
3 & 10 & 0.000400 & 1001 & nesterov & [2.4, 0.9] & NaN & 0.130702 & 10000 & 10 \\
4 & 10 & 0.000500 & 1001 & nesterov & [2.2, 1.0] & NaN & 0.129584 & 10000 & 10 \\
5 & 10 & 0.000700 & 1001 & nesterov & [2.1, 1.0] & NaN & 0.123204 & 10000 & 10 \\
6 & 10 & 0.001000 & 1001 & nesterov & [2.0, 1.0] & NaN & 0.118199 & 10000 & 10 \\
\bottomrule
\end{tabular}

In [18]:
df["alpha"].unique()

array([0.0001 , 0.00025, 0.0003 , 0.0004 , 0.0005 , 0.0007 , 0.001  ])

In [8]:
#get_alpha(df)
df["alpha"].unique()

array([0.0004])

In [19]:
print(df.groupby('alpha')['result_err'].apply(lambda x: x.isna().sum()))

alpha
0.00010    16
0.00025     8
0.00030     8
0.00040     8
0.00050     8
0.00070    12
0.00100    20
Name: result_err, dtype: int64

In [12]:
df_na = df.dropna()

In [20]:
df_na.groupby(['count', 'alpha'])['run'].apply(lambda x: x.mean())

count  alpha
40     0.00050    926.75
       0.00070    658.00
       0.00100    452.25
70     0.00025    725.75
       0.00030    602.00
       0.00040    442.00
       0.00050    348.75
       0.00070    240.25
       0.00100    154.25
100    0.00025    598.75
       0.00030    493.25
       0.00040    363.50
       0.00050    283.25
       0.00070    192.75
130    0.00010    965.50
       0.00025    366.25
       0.00030    300.25
       0.00040    216.00
       0.00050    164.00
       0.00070    177.50
160    0.00010    782.25
       0.00025    292.75
       0.00030    238.50
       0.00040    168.50
       0.00050    128.75
190    0.00010    676.50
       0.00025    250.00
       0.00030    200.50
       0.00040    138.25
Name: run, dtype: float64

In [15]:
print(df_na.groupby(['count', 'alpha'])['run'].apply(lambda x: x.mean()).to_latex())

\begin{tabular}{llr}
\toprule
 &  & run \\
count & alpha &  \\
\midrule
\multirow[t]{3}{*}{40} & 0.000500 & 926.750000 \\
 & 0.000700 & 658.000000 \\
 & 0.001000 & 452.250000 \\
\cline{1-3}
\multirow[t]{6}{*}{70} & 0.000250 & 725.750000 \\
 & 0.000300 & 602.000000 \\
 & 0.000400 & 442.000000 \\
 & 0.000500 & 348.750000 \\
 & 0.000700 & 240.250000 \\
 & 0.001000 & 154.250000 \\
\cline{1-3}
\multirow[t]{5}{*}{100} & 0.000250 & 598.750000 \\
 & 0.000300 & 493.250000 \\
 & 0.000400 & 363.500000 \\
 & 0.000500 & 283.250000 \\
 & 0.000700 & 192.750000 \\
\cline{1-3}
\multirow[t]{6}{*}{130} & 0.000100 & 965.500000 \\
 & 0.000250 & 366.250000 \\
 & 0.000300 & 300.250000 \\
 & 0.000400 & 216.000000 \\
 & 0.000500 & 164.000000 \\
 & 0.000700 & 177.500000 \\
\cline{1-3}
\multirow[t]{5}{*}{160} & 0.000100 & 782.250000 \\
 & 0.000250 & 292.750000 \\
 & 0.000300 & 238.500000 \\
 & 0.000400 & 168.500000 \\
 & 0.000500 & 128.750000 \\
\cline{1-3}
\multirow[t]{4}{*}{190} & 0.000100 & 676.500000 \\
 & 0.000250 & 250.000000 \\
 & 0.000300 & 200.500000 \\
 & 0.000400 & 138.250000 \\
\cline{1-3}
\bottomrule
\end{tabular}