In [1]:
import util as u
import pandas as pd

In [2]:
adagrad = u.read_file("adagrad")
adam = u.read_file("adam")
momentum = u.read_file("momentum")
rms = u.read_file("rms")
nesterov = u.read_file("nesterov")
all_df = [adagrad, adam, momentum, rms, nesterov]
names = ["adagrad","adam","momentum","rms","nesterov"]
# adagrad = u.read_file("stochastic")

In [3]:
def create_math_per_oper(dff):
    df = dff.copy()
    na_df = df[df["result_err"].isna()]
    val_total_math_iter = int(na_df[na_df["count"] == 10]["math_iters"].mean() / 1000)
    df.insert(
        loc= len(df.columns),
        column='math_per_oper',
        value=[val_total_math_iter for i in range(df.shape[0])])
    return df

In [4]:
df_min_iter = pd.DataFrame([10 * i for i in range(1, 22, 3)], columns=["count"])

def create_count_alpha_and_iter(dff, name):
    df = dff.copy()
    df=  pd.DataFrame(df.dropna().groupby(['count', 'alpha'])['run'].apply(lambda x: x.mean()), columns=["run"])
    df = df.loc[df.groupby(level=0).run.idxmin()]
    df.insert(0, "name", [name for i in range(7)])
    return df.reset_index()

# df_min_iter
# create_count_alpha_and_iter(rms, "rms")

for method, name in zip(all_df, names):
    df_min_iter = df_min_iter.join(create_count_alpha_and_iter(method, name).set_index('count'),
                          rsuffix=f"_{name}", on="count")
    
print(df_min_iter.to_latex())

\begin{tabular}{lrrlrrlrrlrrlrrlr}
\toprule
 & count & alpha & name & run & alpha_adam & name_adam & run_adam & alpha_momentum & name_momentum & run_momentum & alpha_rms & name_rms & run_rms & alpha_nesterov & name_nesterov & run_nesterov \\
\midrule
0 & 10 & 50 & adagrad & 206.250000 & 0.200000 & adam & 309.000000 & 0.005000 & momentum & 128.000000 & 0.100000 & rms & 270.000000 & 0.000100 & nesterov & 1001.000000 \\
1 & 40 & 50 & adagrad & 224.500000 & 0.200000 & adam & 352.666667 & 0.002500 & momentum & 99.750000 & 0.100000 & rms & 213.750000 & 0.001000 & nesterov & 452.250000 \\
2 & 70 & 50 & adagrad & 179.250000 & 0.100000 & adam & 410.000000 & 0.001250 & momentum & 162.500000 & 0.500000 & rms & 140.750000 & 0.001000 & nesterov & 154.250000 \\
3 & 100 & 100 & adagrad & 158.750000 & 0.200000 & adam & 352.666667 & 0.001000 & momentum & 93.250000 & 0.250000 & rms & 144.750000 & 0.000700 & nesterov & 192.750000 \\
4 & 130 & 50 & adagrad & 151.500000 & 0.100000 & adam & 359.000000 & 0.001000 & momentum & 92.250000 & 1.000000 & rms & 180.500000 & 0.000500 & nesterov & 164.000000 \\
5 & 160 & 50 & adagrad & 197.500000 & 0.075000 & adam & 432.000000 & 0.000750 & momentum & 93.250000 & 0.250000 & rms & 183.250000 & 0.000500 & nesterov & 128.750000 \\
6 & 190 & 50 & adagrad & 156.750000 & 1.000000 & adam & 346.000000 & 0.000750 & momentum & 97.750000 & 0.500000 & rms & 220.250000 & 0.000400 & nesterov & 138.250000 \\
\bottomrule
\end{tabular}

In [5]:
df_min_iter = pd.DataFrame()

def create_count_alpha_and_iter(dff, name):
    df = dff.copy()
    df=  pd.DataFrame(df.dropna().groupby(['count', 'alpha'])['run'].apply(lambda x: x.mean()), columns=["run"])
    df = df.loc[df.groupby(level=0).run.idxmin()]
    df.insert(0, "name", [name for i in range(7)])
    return df.reset_index()



for method, name in zip(all_df, names):
    df_min_iter = pd.concat([df_min_iter, create_count_alpha_and_iter(method, name)])
    
df_min_iter
print(df_min_iter.to_latex())

\begin{tabular}{lrrlr}
\toprule
 & count & alpha & name & run \\
\midrule
0 & 10 & 50.000000 & adagrad & 206.250000 \\
1 & 40 & 50.000000 & adagrad & 224.500000 \\
2 & 70 & 50.000000 & adagrad & 179.250000 \\
3 & 100 & 100.000000 & adagrad & 158.750000 \\
4 & 130 & 50.000000 & adagrad & 151.500000 \\
5 & 160 & 50.000000 & adagrad & 197.500000 \\
6 & 190 & 50.000000 & adagrad & 156.750000 \\
0 & 10 & 0.200000 & adam & 309.000000 \\
1 & 40 & 0.200000 & adam & 352.666667 \\
2 & 70 & 0.100000 & adam & 410.000000 \\
3 & 100 & 0.200000 & adam & 352.666667 \\
4 & 130 & 0.100000 & adam & 359.000000 \\
5 & 160 & 0.075000 & adam & 432.000000 \\
6 & 190 & 1.000000 & adam & 346.000000 \\
0 & 10 & 0.005000 & momentum & 128.000000 \\
1 & 40 & 0.002500 & momentum & 99.750000 \\
2 & 70 & 0.001250 & momentum & 162.500000 \\
3 & 100 & 0.001000 & momentum & 93.250000 \\
4 & 130 & 0.001000 & momentum & 92.250000 \\
5 & 160 & 0.000750 & momentum & 93.250000 \\
6 & 190 & 0.000750 & momentum & 97.750000 \\
0 & 10 & 0.100000 & rms & 270.000000 \\
1 & 40 & 0.100000 & rms & 213.750000 \\
2 & 70 & 0.500000 & rms & 140.750000 \\
3 & 100 & 0.250000 & rms & 144.750000 \\
4 & 130 & 1.000000 & rms & 180.500000 \\
5 & 160 & 0.250000 & rms & 183.250000 \\
6 & 190 & 0.500000 & rms & 220.250000 \\
0 & 10 & 0.000100 & nesterov & 1001.000000 \\
1 & 40 & 0.001000 & nesterov & 452.250000 \\
2 & 70 & 0.001000 & nesterov & 154.250000 \\
3 & 100 & 0.000700 & nesterov & 192.750000 \\
4 & 130 & 0.000500 & nesterov & 164.000000 \\
5 & 160 & 0.000500 & nesterov & 128.750000 \\
6 & 190 & 0.000400 & nesterov & 138.250000 \\
\bottomrule
\end{tabular}

In [6]:
print(df_min_iter.sort_values(by=["count", "run"]).to_latex())

\begin{tabular}{lrrlr}
\toprule
 & count & alpha & name & run \\
\midrule
0 & 10 & 0.005000 & momentum & 128.000000 \\
0 & 10 & 50.000000 & adagrad & 206.250000 \\
0 & 10 & 0.100000 & rms & 270.000000 \\
0 & 10 & 0.200000 & adam & 309.000000 \\
0 & 10 & 0.000100 & nesterov & 1001.000000 \\
1 & 40 & 0.002500 & momentum & 99.750000 \\
1 & 40 & 0.100000 & rms & 213.750000 \\
1 & 40 & 50.000000 & adagrad & 224.500000 \\
1 & 40 & 0.200000 & adam & 352.666667 \\
1 & 40 & 0.001000 & nesterov & 452.250000 \\
2 & 70 & 0.500000 & rms & 140.750000 \\
2 & 70 & 0.001000 & nesterov & 154.250000 \\
2 & 70 & 0.001250 & momentum & 162.500000 \\
2 & 70 & 50.000000 & adagrad & 179.250000 \\
2 & 70 & 0.100000 & adam & 410.000000 \\
3 & 100 & 0.001000 & momentum & 93.250000 \\
3 & 100 & 0.250000 & rms & 144.750000 \\
3 & 100 & 100.000000 & adagrad & 158.750000 \\
3 & 100 & 0.000700 & nesterov & 192.750000 \\
3 & 100 & 0.200000 & adam & 352.666667 \\
4 & 130 & 0.001000 & momentum & 92.250000 \\
4 & 130 & 50.000000 & adagrad & 151.500000 \\
4 & 130 & 0.000500 & nesterov & 164.000000 \\
4 & 130 & 1.000000 & rms & 180.500000 \\
4 & 130 & 0.100000 & adam & 359.000000 \\
5 & 160 & 0.000750 & momentum & 93.250000 \\
5 & 160 & 0.000500 & nesterov & 128.750000 \\
5 & 160 & 0.250000 & rms & 183.250000 \\
5 & 160 & 50.000000 & adagrad & 197.500000 \\
5 & 160 & 0.075000 & adam & 432.000000 \\
6 & 190 & 0.000750 & momentum & 97.750000 \\
6 & 190 & 0.000400 & nesterov & 138.250000 \\
6 & 190 & 50.000000 & adagrad & 156.750000 \\
6 & 190 & 0.500000 & rms & 220.250000 \\
6 & 190 & 1.000000 & adam & 346.000000 \\
\bottomrule
\end{tabular}

In [7]:
df_min_iter

   count      alpha      name          run
0     10   50.00000   adagrad   206.250000
1     40   50.00000   adagrad   224.500000
2     70   50.00000   adagrad   179.250000
3    100  100.00000   adagrad   158.750000
4    130   50.00000   adagrad   151.500000
5    160   50.00000   adagrad   197.500000
6    190   50.00000   adagrad   156.750000
0     10    0.20000      adam   309.000000
1     40    0.20000      adam   352.666667
2     70    0.10000      adam   410.000000
3    100    0.20000      adam   352.666667
4    130    0.10000      adam   359.000000
5    160    0.07500      adam   432.000000
6    190    1.00000      adam   346.000000
0     10    0.00500  momentum   128.000000
1     40    0.00250  momentum    99.750000
2     70    0.00125  momentum   162.500000
3    100    0.00100  momentum    93.250000
4    130    0.00100  momentum    92.250000
5    160    0.00075  momentum    93.250000
6    190    0.00075  momentum    97.750000
0     10    0.10000       rms   270.000000
1     40    0.10000       rms   213.750000
2     70    0.50000       rms   140.750000
3    100    0.25000       rms   144.750000
4    130    1.00000       rms   180.500000
5    160    0.25000       rms   183.250000
6    190    0.50000       rms   220.250000
0     10    0.00010  nesterov  1001.000000
1     40    0.00100  nesterov   452.250000
2     70    0.00100  nesterov   154.250000
3    100    0.00070  nesterov   192.750000
4    130    0.00050  nesterov   164.000000
5    160    0.00050  nesterov   128.750000
6    190    0.00040  nesterov   138.250000

In [8]:
df_math_per_oper = pd.DataFrame([[i, j] for i,j in zip(names,[12, 21, 8, 15, 10])], columns=["name", "math_per_oper"])

df_math_per_oper

       name  math_per_oper
0   adagrad             12
1      adam             21
2  momentum              8
3       rms             15
4  nesterov             10